.result {
  height: 60px;
  background-color: #3f556a;
  width: 100%;
}

.result p {
  font-size: 40px;
  margin: 5px;
  color: white;

}

.calculator-body {
  max-width: 600px;
  margin: auto;
}

.button {
  display: block;
  background-color: #84bd5a;;
}

button {
  width: 25%;
  height: 70px;
  font-size: 30px;
  background-color: #84bd5a;
}
